.container{
  margin: 0 auto;
max-width: 950px;
  text-align: center;
  font-family: Arial;
  
}
ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  

}
li{
  display: flex;
  justify-content: space-between;
}
.edit-btn{
  
}
span{
  margin-right: -20px;
  padding: 0;
}